extends templates/template.pug

block title
    | Dashboard

block content
    section.section
        .container
            h1.title Dashboard
            h2.subtitle Ayooo, you managed to log in. Well done.
