extends templates/template.pug

block content
    section.hero.is-large.is-primary
        .hero-body
            .container
                h1.title conlang with minimal fuss.
                h2.subtitle all the tools you need to quickly get started documenting your language
    section.section
        nav.level
            .level-item.has-text-centered
                div
                    p.heading Words
                    p.title 1,234
            .level-item.has-text-centered
                div
                    p.heading Users
                    p.title 1,234
            .level-item.has-text-centered
                div
                    p.heading Conlangs
                    p.title 1,234
            .level-item.has-text-centered
                div
                    p.heading Articles
                    p.title 1,234